header {
    background-color: rgb(33, 92, 103);
    text-align: center;
    padding: 20px;
    border-style: solid;
    border-width:medium;
    border-radius: 25px;
    transition: 2s all;
    max-width: 70%;
    
}

header:hover {
    background: rgb(0, 0, 0);
    text-align: left;
    color:rgb(206, 143, 255);
    border-radius: 30%;
    
}


h1 {
    color:aliceblue;

}


body {
    background-color: #043d41;
    font-family: sans-serif;  
}

p {
    color:aliceblue; 
    margin: 20px;
    max-width: 70%;
}

h2 {
    color: #f3a54c;
    margin: 20px;
}

h2:hover {
    color:rgb(206, 143, 255);
    
}

ul {
    color:aliceblue; 
}

ol {
    color:aliceblue; 
}

img {
    border-style: solid;
    border-width:medium;
    border-radius: 25px;
    margin: 20px;



}

